body{
    background-color: #24224a;
      font-family: 'Arial', sans-serif; /* Choose a preferred font family */

}
.mmmain{
    justify-content: space-between;
    display: flex;
}

.choosephotobtn{
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.imagecontainer{
    background-color: #6a4ea5;
    width: 1000px;
    height: 620px;
    border-radius: 25px;
    margin-left: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.notload{
    width: 980px;
    height: 600px;
}

/*wefewfw*/

input[type="file"] {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
  position: relative;
}

input[type="file"]::file-selector-button {
  width: 136px;
  color: transparent;
}

/* Faked label styles and icon */
input[type="file"]::before {
  position: absolute;
  pointer-events: none;
  top: 10px;
  left: 16px;
  height: 20px;
  width: 20px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
}

input[type="file"]::after {
  position: absolute;
  pointer-events: none;
  top: 11px;
  left: 40px;
  color: #0964b0;
  content: "Upload File";
}

/* ------- From Step 1 ------- */

/* file upload button */
input[type="file"]::file-selector-button {
  border-radius: 10px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}

/* ------------------------ */

/* default boilerplate to center input */


.choosefilterwithcss{
    border-radius: 40px;
    border: 5px solid #6a4ea5;
    width: 300px;
    height: 50px;
    margin-right: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 15px;
    /*background-color: #0964b0;*/
}

.choosefilterwithcss.active {
  background-color: #6a4ea5; /* Измените цвет фона на черный или другой по вашему выбору */
  color: white; /* Измените цвет текста, чтобы он был виден на черном фоне */
}

.filterssyrty :hover{
    background-color: #6a4ea5;
}
.choosefilterwithcss p{
    color: #f9ebac;
    font-size: 24px;
}
.filterssyrty{
        margin-top: 100px;

}

.applybrn{
    font-size: 40px;
    margin-top: 80px;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 300px;
    height: 80px;
    background-color: #5b1b3e;
    color: white;
    border: 5px solid #6a4ea5;
    border-radius: 40px;
}

.applybrn:hover{
    background-color: #210b4b;
}


/*mobile*/

@media only screen and (max-width: 600px) {
  .mmmain {
      /*width: ;*/
    flex-direction: column; /* Изменение направления расположения элементов на вертикальное для мобильных устройств */
  }
    .mmmain .div{
        width: 700px;
    }

  .notload{
    width: 80%;
      height: 80%/* Растягиваем контейнер изображения на всю ширину экрана */
    /*margin: 10px 0; !* Добавляем отступы *!*/
  }
  .imagecontainer{
      width: 95%;
      /*width:370px;*/
      /*height: 250px;*/
      height: 95%;
      /*height: 50%;*/
  }

  .choosefilterwithcss {
    width: 95%; /* Растягиваем фильтры на всю ширину экрана */
    margin-bottom: 10px; /* Добавляем отступы между фильтрами */
  }

  .applybrn {
    width: 95%; /* Растягиваем кнопку Apply на всю ширину экрана */
  }
}